#root {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  flex-direction: row;
  justify-content: flex-end;
}

.content {
  text-align: start;
}

label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  height: 30px;
}

hr {
  color: black;
  width: 100%;
}
